# Raw / intermediate data
rawdata/
data/
transformeddata/
rdata/
tables/

# Archives
*.tar
*.tar.gz

# Shiny apps / outputs
ShinyGo/

# OS / editor junk
.DS_Store
compare_MutvsWTfractions/WT_Mut_fractionPlotSWIP.ipynb
.Rproj.user
analysis/
compare_MutvsWTfractions
geneontologies/
tables
.R*
